@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;
}
h1, h2, h3, h4, h5, h6, a 
{
    font-family: "Libre Baskerville", serif;
}
#site {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
        "header header header"
        "menu content sidebar"
        "footer footer footer";
    grid-template-rows: 10% 80% 10%;
    height: 100vh;
    background-color: #E9F1FA;
}
#header {
    grid-area: header;
    background-color: #00ABE4;
    text-align: center;
   
}
#header>span 
{
    display: flex;
    margin-left: 10px;
}

#menu {
    grid-area: menu;
    background-color: #f8fdff;
}
#menu>ul
{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
#menu>ul>li {
    position: relative;
}

#menu>ul>li::before {
    content: '';
    background-image: url('images/hand.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    /* Adjust size as needed */
    height: 20px;
    /* Adjust size as needed */
}
#content {
    grid-area: content;
    overflow: scroll;
    scrollbar-width: none;
    padding:10px;
}
#content p 
{
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 50px;
}
#sidebar {
    grid-area: sidebar;
    background-color: #f8fdff;
}

#footer {
    grid-area: footer;
    background-color: #00ABE4;
}
#site-heading 
{
    font-size: 2.5rem;
    color:white;
    text-transform: uppercase;
    padding-left:20px;
    text-shadow:
            0 1px #808d93,
            -1px 0 #cdd2d5,
            -1px 2px #808d93,
            -2px 1px #cdd2d5,
            -2px 3px #808d93,
            -3px 2px #cdd2d5,
            -3px 4px #808d93,
            -4px 3px #cdd2d5,
            -4px 5px #808d93,
            -5px 4px #cdd2d5,
            -5px 6px #808d93,
            -6px 5px #cdd2d5,
            -6px 7px #808d93,
            -7px 6px #cdd2d5,
            -7px 8px #808d93,
            -8px 7px #cdd2d5;
}
.menu-item
{
    background-color: #00ABE4;
    color:white;
    padding:10px 20px;
    display: block;
    width:60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-item:hover
{
    background-color: #4DC4EC;
    box-shadow: rgba(0, 171, 228, 0.4) 3px 3px, rgba(0, 171, 228, 0.3) 6px 6px, rgba(0, 171, 228, 0.2) 9px 9px, rgba(0, 171, 228, 0.1) 12px 12px, rgba(0, 171, 228, 0.05) 15px 25px;
    font-weight: bold;
}
